html{
  height: 100%
}
body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
  padding: 0;
  overflow: hidden
}

ul{
  padding: 0;
  list-style-type: none;
}
.app{
  display: flex;
  align-content: space-between;
  justify-content:stretch ;
}
.file-input{
  opacity:100;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  height: 100%;
  width: 100%;
  opacity: 0;

}
.dropper{
  width: 75%;
  height: auto; 
  margin: 0;
  background-color:greenyellow;
  background-image: url(./assets/1608710_upload_icon.png);
  background-repeat: no-repeat;
  background-position: center;

}

.file{
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
  /* set scalable font sizes*/
  border-style: none;
  border-radius: 1em;
  padding: 5%;
  margin: 10% 5% 0;
  background-image: linear-gradient(cyan, chartreuse);

}
.file-name{
  /* set scalable font sizes*/
  width: inherit;
  word-wrap: break-word;
}

.project-bar{
  /* set scalable font sizes*/
  background-color: pink;
  width: 25%;
  height: 100vh;
  overflow: scroll;
  border-right: 2px solid black;
}

.project-bar-header{
/* set scalable font sizes*/
font-size: 2em;
background-color: lightblue;
margin: 0;
padding: 5%;
}

.delete-btn {
  border: none;
  background-color: rgb(247, 72, 72);
  background-image: url("./assets/delete-button-svgrepo-com.png");
  background-position: center;
  background-size: 2em;
  background-repeat: no-repeat;
  border-radius: 10%;
  height: 3em ;
  width: 3em;
  padding: 1em;
  
}
.delete-btn:hover{
  background-color: rgb(245, 134, 134);

}